<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <aci_abstract>
                <active>1</active>
                <model>AciPaymentGenericFacade</model>
                <test_api_end_point>https://eu-test.oppwa.com</test_api_end_point>
                <live_api_end_point>https://eu-test.oppwa.com</live_api_end_point>
                <test_mode>INTERNAL</test_mode>
            </aci_abstract>
            <aci_cc>
                <title>Pay by card</title>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <model>AciPaymentCcFacade</model>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_authorize_3d>1</can_authorize_3d>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <order_status>pending</order_status>
                <mode>test</mode>
                <currency>USD</currency>
                <can_use_checkout>1</can_use_checkout>
            </aci_cc>
            <aci_apm>
                <title>Alternative Payment Settings</title>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <model>AciPaymentApmFacade</model>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <order_status>pending</order_status>
                <mode>test</mode>
            </aci_apm>
        </payment>
    </default>
</config>
