<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aci\Payment\Api\Data\RecurringOrderInterface"
                type="Aci\Payment\Model\RecurringOrder"/>
    <preference for="Aci\Payment\Api\RecurringOrderRepositoryInterface"
                type="Aci\Payment\Model\RecurringOrderRepository"/>
    <preference for="Aci\Payment\Api\Data\RecurringOrderHistoryInterface"
                type="Aci\Payment\Model\RecurringOrderHistory" />
    <preference for="Aci\Payment\Api\RecurringOrderHistoryRepositoryInterface"
                type="Aci\Payment\Model\RecurringOrderHistoryRepository" />
    <preference for="Aci\Payment\Model\Api\CancelSubscriptionInterface"
                type="Aci\Payment\Model\Api\CancelSubscription" />
    <preference for="TryzensIgnite\Base\Model\Api\ResponseInterface"
                type="TryzensIgnite\Base\Model\Api\ResponseManager" />
    <preference for="Aci\Payment\Model\Http\HeaderInterface"
                type="Aci\Payment\Model\Http\Headers" />
    <preference for="TryzensIgnite\Notification\Model\NotificationManager"
                type="Aci\Payment\Model\Notification\NotificationManager"/>
    <preference for="TryzensIgnite\Notification\Model\TransactionOrderUpdater"
                type="Aci\Payment\Model\Notification\TransactionOrderUpdater"/>
    <preference for="TryzensIgnite\Base\Model\Api\ResponseManager"
                type="Aci\Payment\Model\Api\AciPaymentResponseManager"/>
    <preference for="TryzensIgnite\Notification\Model\Utilities\Properties"
                type="Aci\Payment\Model\Utilities\Properties"/>
    <preference for="TryzensIgnite\Base\Model\Order\OrderManager"
                type="Aci\Payment\Model\Order\OrderManager"/>
    <preference for="TryzensIgnite\Base\Model\Utilities\DataFormatter"
                type="Aci\Payment\Model\Utilities\DataFormatter" />
    <preference for="TryzensIgnite\Base\Model\ImageHandler"
                type="Aci\Payment\Model\ImageHandler" />
    <preference for="TryzensIgnite\Onsite\Observer\SubmitQuoteObserver"
                type="Aci\Payment\Observer\SubmitQuoteObserver" />
    <preference for="TryzensIgnite\Onsite\Observer\CheckoutSubmitAllAfter"
                type="Aci\Payment\Observer\CheckoutSubmitAllAfter" />
    <preference for="TryzensIgnite\Base\Model\Config\Backend\WebhookUrl"
                type="Aci\Payment\Model\Config\Backend\WebhookUrl" />
    <preference for="TryzensIgnite\Base\Logger\Logger"
                type="Aci\Payment\Logger\AciLogger" />
    <type name="Magento\Payment\Model\Method\Adapter">
        <plugin name="aci_payment_method_adapter_plugin"
                type="Aci\Payment\Plugin\Method\AdapterPlugin"
                sortOrder="30" />
    </type>

    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="aci_subscription_order_place_after"
                type="Aci\Payment\Plugin\OrderPlaceAfter" />
    </type>

    <!-- APM Facade Start -->
    <virtualType name="AciPaymentApmFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Aci\Payment\Model\Ui\AciApmConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">TryzensIgnite\Base\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AciPaymentApmValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AciPaymentApmCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Value Handlers Infrastructure for Aci Apm Payment -->
    <virtualType name="AciPaymentApmValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AciPaymentApmConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AciPaymentApmConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AciPaymentApmConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="AciPaymentApmConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Aci\Payment\Model\Ui\AciApmConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Payment Commands Infrastructure for Aci Apm Payment -->
    <virtualType name="AciPaymentApmCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initTransaction" xsi:type="string">AciPaymentApmInitTransactionCommand</item>
                <item name="authorize" xsi:type="string">AciPaymentAuthorizeCommand</item>
                <item name="capture" xsi:type="string">AciPaymentCaptureCommand</item>
                <item name="refund" xsi:type="string">AciPaymentRefundCommand</item>
                <item name="cancel" xsi:type="string">AciPaymentCancelCommand</item>
                <item name="void" xsi:type="string">AciPaymentCancelCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Transaction Command for Aci Apm Payment -->
    <virtualType name="AciPaymentApmInitTransactionCommand"
                 type="TryzensIgnite\Base\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">AciPaymentApmInitTransactionRequest</argument>
            <argument name="transferFactory" xsi:type="object">AciPaymentInitTransactionTransferFactory</argument>
            <argument name="client" xsi:type="object">AciPaymentApmTransactionClient</argument>
            <argument name="handler" xsi:type="object">Aci\Payment\Gateway\Response\ResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- Initialize Transaction Request for Aci Apm Payment -->
    <virtualType name="AciPaymentApmInitTransactionRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant" xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="base_request" xsi:type="string">Aci\Payment\Gateway\Request\BaseRequestDataBuilder</item>
                <item name="payment" xsi:type="string">Aci\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="apm_payment_type"
                      xsi:type="string">Aci\Payment\Gateway\Request\ApmPaymentTypeDataBuilder
                </item>
                <item name="integrity" xsi:type="string">Aci\Payment\Gateway\Request\IntegrityDataBuilder</item>
                <item name="customer"
                      xsi:type="string">Aci\Payment\Gateway\Request\CustomerDataBuilder
                </item>
                <item name="address"
                      xsi:type="string">Aci\Payment\Gateway\Request\AddressDataBuilder
                </item>
                <item name="items"
                      xsi:type="string">Aci\Payment\Gateway\Request\ItemsDataBuilder
                </item>
                <item name="system_info" xsi:type="string">SystemInfoDataBuilder</item>
                <item name="subscription_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionDataBuilder
                </item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- System Info Builder -->
    <virtualType name="SystemInfoDataBuilder"
                 type="Aci\Payment\Gateway\Request\SystemInfoDataBuilder">
        <arguments>
            <argument name="moduleName"
                      xsi:type="const">Aci\Payment\Helper\Constants::MODULE_NAME</argument>
        </arguments>
    </virtualType>

    <!-- InitTransaction Transfer Factory for Aci Payment -->
    <virtualType name="AciPaymentInitTransactionTransferFactory"
                 type="Aci\Payment\Gateway\Http\PaymentTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="endPoint"
                      xsi:type="const">Aci\Payment\Helper\Constants::END_POINT_INIT_TRANSACTION
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Transaction Client for Aci APM Payment -->
    <virtualType name="AciPaymentApmTransactionClient"
                 type="Aci\Payment\Gateway\Http\Client\PaymentClient">
        <arguments>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciApmLogger
            </argument>
        </arguments>
    </virtualType>

    <!-- APM Facade End -->

    <type name="Aci\Payment\Model\Api\CancelSubscription">
        <arguments>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
        </arguments>
    </type>

    <!-- ACI CC payment Facade - Start -->
    <virtualType name="AciPaymentCcFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">TryzensIgnite\Onsite\Model\Ui\CcConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">OnsiteCcBlockInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">AciPaymentCcValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AciPaymentCcCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Value Handlers Infrastructure for Aci CC Payment -->
    <virtualType name="AciPaymentCcValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AciPaymentCcConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AciPaymentCcConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Aci\Payment\Gateway\Config\AciCcPaymentConfig</argument>
        </arguments>
    </virtualType>

    <!-- Payment Commands Infrastructure for Aci CC Payment -->
    <virtualType name="AciPaymentCcCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initTransaction" xsi:type="string">AciPaymentCcInitTransactionCommand</item>
                <item name="authorize" xsi:type="string">AciPaymentAuthorizeCommand</item>
                <item name="capture" xsi:type="string">AciPaymentCaptureCommand</item>
                <item name="refund" xsi:type="string">AciPaymentRefundCommand</item>
                <item name="cancel" xsi:type="string">AciPaymentCancelCommand</item>
                <item name="void" xsi:type="string">AciPaymentCancelCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Transaction Command for Aci CC Payment - Start -->
    <virtualType name="AciPaymentCcInitTransactionCommand"
                 type="TryzensIgnite\Base\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentCcInitTransactionRequest
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">AciPaymentInitTransactionTransferFactory
            </argument>
            <argument name="client"
                      xsi:type="object">AciPaymentCcTransactionClient
            </argument>
            <argument name="handler"
                      xsi:type="object">Aci\Payment\Gateway\Response\ResponseHandler
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Transaction Request for Aci CC Payment -->
    <virtualType name="AciPaymentCcInitTransactionRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant"
                      xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="base"
                      xsi:type="string">Aci\Payment\Gateway\Request\BaseRequestDataBuilder
                </item>
                <item name="payment" xsi:type="string">Aci\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="integrity" xsi:type="string">Aci\Payment\Gateway\Request\IntegrityDataBuilder</item>
                <item name="cc_payment_type"
                      xsi:type="string">Aci\Payment\Gateway\Request\CcPaymentTypeDataBuilder
                </item>
                <item name="customer"
                      xsi:type="string">Aci\Payment\Gateway\Request\CustomerDataBuilder
                </item>
                <item name="saved_cards"
                      xsi:type="string">Aci\Payment\Gateway\Request\SavedCardDataBuilder
                </item>
                <item name="address"
                      xsi:type="string">Aci\Payment\Gateway\Request\AddressDataBuilder
                </item>
                <item name="items"
                      xsi:type="string">Aci\Payment\Gateway\Request\ItemsDataBuilder
                </item>
                <item name="system_info" xsi:type="string">SystemInfoDataBuilder</item>
                <item name="subscription_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionDataBuilder
                </item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Transaction Command for Aci CC Payment - End -->

    <!-- Magento Authorize Command -->
    <virtualType name="AciPaymentAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">Aci\Payment\Gateway\Request\TransactionIdDataBuilder
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">Aci\Payment\Gateway\Http\AuthTransferFactory
            </argument>
            <argument name="client"
                      xsi:type="object">Aci\Payment\Gateway\Http\Client\AuthTransactionClient
            </argument>
            <argument name="handler"
                      xsi:type="object">Aci\Payment\Gateway\Response\ResponseHandler
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Transaction Client for Aci CC Payment -->
    <virtualType name="AciPaymentCcTransactionClient"
                 type="Aci\Payment\Gateway\Http\Client\PaymentClient">
        <arguments>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciCcLogger
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Log Handler for Aci CC payment -->
    <type name="Aci\Payment\Logger\AciCcLogger">
        <arguments>
            <argument name="name" xsi:type="string">AciPaymentCcLogHandler</argument>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Logger\AciHandler</item>
            </argument>
        </arguments>
    </type>
    <!-- ACI CC payment Facade - End -->

    <virtualType name="GenericFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">TryzensIgnite\Base\Model\Ui\BaseConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">GenericBlockInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">GenericValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">GenericCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Info Block Type for Generic -->
    <virtualType name="GenericBlockInfo" type="TryzensIgnite\Base\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">TryzensIgnite\Base\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <!-- Value Handlers Infrastructure for Generic  -->
    <virtualType name="GenericValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GenericConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GenericConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TryzensIgnite\Base\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <!-- Back Office Capture Operation Command - Start -->
    <!-- Capture Command -->
    <virtualType name="AciPaymentCaptureCommand"
                 type="TryzensIgnite\Base\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentCaptureRequest
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">AciPaymentBackOfficeTransferFactory</argument>
            <argument name="client"
                      xsi:type="object">AciPaymentCaptureTransactionClient
            </argument>
            <argument name="validator"
                      xsi:type="object">AciPaymentCaptureResponseValidator
            </argument>
            <argument name="handler" xsi:type="object">AciPaymentCaptureResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request Builders -->
    <virtualType name="AciPaymentCaptureRequest"
                 type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant"
                      xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="payment"
                      xsi:type="string">Aci\Payment\Gateway\Request\BackOffice\Capture\CaptureDataBuilder</item>
                <item name="checkout_id"
                      xsi:type="string">Aci\Payment\Gateway\Request\CheckoutIdDataBuilder</item>
                <item name="payment_type" xsi:type="string">AciPaymentTypeCapture</item>
                <item name="system_info" xsi:type="string">SystemInfoDataBuilder</item>
                <item name="subscription_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionDataBuilder</item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Type Data Builder for Aci Payment backOffice Operation -->
    <virtualType name="AciPaymentTypeCapture"
                 type="Aci\Payment\Gateway\Request\BackOffice\PaymentTypeDataBuilder">
        <arguments>
            <argument name="paymentType"
                      xsi:type="const">Aci\Payment\Helper\Constants::PAYMENT_TYPE_CAPTURE
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Client for Aci Back Office Capture Operation -->
    <virtualType name="AciPaymentCaptureTransactionClient"
                 type="Aci\Payment\Gateway\Http\Client\BackOfficePaymentClient">
        <arguments>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciCaptureLogger
            </argument>
        </arguments>
    </virtualType>

    <type name="Aci\Payment\Logger\AciCaptureLogger">
        <arguments>
            <argument name="name" xsi:type="string">AciPaymentCaptureLogHandler</argument>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Logger\AciHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Capture Response Validator -->
    <virtualType name="AciPaymentCaptureResponseValidator"
                 type="Aci\Payment\Gateway\Validator\PaymentResponseValidator">
        <arguments>
            <argument name="endPoint"
                      xsi:type="const">TryzensIgnite\Base\Helper\Constants::SERVICE_CAPTURE
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture Response Handler -->
    <virtualType name="AciPaymentCaptureResponseHandler"
                 type="Aci\Payment\Gateway\Response\BackofficeResponseHandler">
        <arguments>
            <argument name="transactionType"
                      xsi:type="const">Aci\Payment\Helper\Constants::SERVICE_CAPTURE
            </argument>
        </arguments>
    </virtualType>
    <!-- Back Office Capture Operation Command - End -->

    <!-- Back Office Refund Operation Command - Start -->
    <!-- Payment Refund Command -->
    <virtualType name="AciPaymentRefundCommand" type="TryzensIgnite\Base\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentRefundRequest
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">AciPaymentBackOfficeTransferFactory</argument>
            <argument name="client"
                      xsi:type="object">AciPaymentRefundTransactionClient
            </argument>
            <argument name="validator"
                      xsi:type="object">AciPaymentRefundResponseValidator
            </argument>
            <argument name="handler" xsi:type="object">AciPaymentRefundResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- Refund Request Builders -->
    <virtualType name="AciPaymentRefundRequest"
                 type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant"
                      xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="credit_memo"
                      xsi:type="string">Aci\Payment\Gateway\Request\BackOffice\Refund\RefundDataBuilder</item>
                <item name="checkout_id"
                      xsi:type="string">Aci\Payment\Gateway\Request\CheckoutIdDataBuilder</item>
                <item name="payment_type" xsi:type="string">AciPaymentTypeRefund</item>
                <item name="system_info" xsi:type="string">SystemInfoDataBuilder</item>
                <item name="subscription_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionDataBuilder
                </item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Type Data Builder for Aci Payment Refund backOffice Operation -->
    <virtualType name="AciPaymentTypeRefund"
                 type="Aci\Payment\Gateway\Request\BackOffice\PaymentTypeDataBuilder">
        <arguments>
            <argument name="paymentType"
                      xsi:type="const">Aci\Payment\Helper\Constants::PAYMENT_TYPE_REFUND
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Client for Aci Back Office Refund Operation -->
    <virtualType name="AciPaymentRefundTransactionClient"
                 type="Aci\Payment\Gateway\Http\Client\BackOfficePaymentClient">
        <arguments>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciRefundLogger
            </argument>
        </arguments>
    </virtualType>
    <type name="Aci\Payment\Logger\AciRefundLogger">
        <arguments>
            <argument name="name" xsi:type="string">AciPaymentRefundLogHandler</argument>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Logger\AciHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Refund Response Validator -->
    <virtualType name="AciPaymentRefundResponseValidator"
                 type="Aci\Payment\Gateway\Validator\PaymentResponseValidator">
        <arguments>
            <argument name="endPoint"
                      xsi:type="const">Aci\Payment\Helper\Constants::SERVICE_REFUND
            </argument>
        </arguments>
    </virtualType>

    <!-- Refund Response Handler -->
    <virtualType name="AciPaymentRefundResponseHandler"
                 type="Aci\Payment\Gateway\Response\BackofficeResponseHandler">
        <arguments>
            <argument name="transactionType"
                      xsi:type="const">Aci\Payment\Helper\Constants::SERVICE_REFUND
            </argument>
        </arguments>
    </virtualType>
    <!-- Back Office Refund Operation Command - End -->

    <!-- Back Office Cancel Operation Command - Start -->
    <!-- Payment Cancel Command -->
    <virtualType name="AciPaymentCancelCommand" type="TryzensIgnite\Base\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentCancelRequest
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">AciPaymentBackOfficeTransferFactory</argument>
            <argument name="client"
                      xsi:type="object">AciPaymentCancelTransactionClient
            </argument>
            <argument name="validator"
                      xsi:type="object">AciPaymentCancelResponseValidator
            </argument>
            <argument name="handler" xsi:type="object">AciPaymentCancelResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- Cancel Request Builders -->
    <virtualType name="AciPaymentCancelRequest"
                 type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant"
                      xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="checkout_id"
                      xsi:type="string">Aci\Payment\Gateway\Request\CheckoutIdDataBuilder</item>
                <item name="payment_type" xsi:type="string">AciPaymentTypeCancel</item>
                <item name="system_info" xsi:type="string">SystemInfoDataBuilder</item>
                <item name="subscription_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionDataBuilder
                </item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Type Data Builder for Aci Payment backOffice Operation -->
    <virtualType name="AciPaymentTypeCancel"
                 type="Aci\Payment\Gateway\Request\BackOffice\PaymentTypeDataBuilder">
        <arguments>
            <argument name="paymentType"
                      xsi:type="const">Aci\Payment\Helper\Constants::PAYMENT_TYPE_CANCEL
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Client for Aci Back Office Cancel Operation -->
    <virtualType name="AciPaymentCancelTransactionClient"
                 type="Aci\Payment\Gateway\Http\Client\BackOfficePaymentClient">
        <arguments>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciCancelLogger
            </argument>
        </arguments>
    </virtualType>

    <type name="Aci\Payment\Logger\AciCancelLogger">
        <arguments>
            <argument name="name" xsi:type="string">AciPaymentCancelLogHandler</argument>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Logger\AciHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Cancel Response Validator -->
    <virtualType name="AciPaymentCancelResponseValidator"
                 type="Aci\Payment\Gateway\Validator\PaymentResponseValidator">
        <arguments>
            <argument name="endPoint"
                      xsi:type="const">Aci\Payment\Helper\Constants::SERVICE_VOID
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture Response Handler -->
    <virtualType name="AciPaymentCancelResponseHandler"
                 type="Aci\Payment\Gateway\Response\BackofficeResponseHandler">
        <arguments>
            <argument name="transactionType"
                      xsi:type="const">Aci\Payment\Helper\Constants::SERVICE_VOID
            </argument>
        </arguments>
    </virtualType>
    <!-- Back Office Cancel Operation Command - End -->

    <!-- BackOffice Transfer Factory for Aci Payment -->
    <virtualType name="AciPaymentBackOfficeTransferFactory"
                 type="Aci\Payment\Gateway\Http\AciBackOfficeTransferFactory">
        <arguments>
            <argument name="method"
                      xsi:type="const">Aci\Payment\Helper\Constants::API_METHOD_POST
            </argument>
            <argument name="endPoint"
                      xsi:type="const">Aci\Payment\Helper\Constants::END_POINT_BACKOFFICE_OPERATION
            </argument>
        </arguments>
    </virtualType>

    <!-- Generic command - Start -->
    <virtualType name="GenericCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="getStatus" xsi:type="string">AciPaymentGetStatusCommand</item>
                <item name="getStatusViaWebhook" xsi:type="string">AciPaymentGetStatusViaWebhookCommand</item>
                <item name="createSubscription" xsi:type="string">AciPaymentCreateSubscriptionCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- GetStatus Command for Aci Payment -->
    <virtualType name="AciPaymentGetStatusCommand"
                 type="TryzensIgnite\Base\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentGetStatusRequestBuilder
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">Aci\Payment\Gateway\Http\GetStatusTransferFactory
            </argument>
            <argument name="client"
                      xsi:type="object">AciPaymentCcTransactionClient
            </argument>
            <argument name="handler"
                      xsi:type="object">Aci\Payment\Gateway\Response\ResponseHandler
            </argument>
        </arguments>
    </virtualType>

    <!-- GetStatus Request for Aci Payment -->
    <virtualType name="AciPaymentGetStatusRequestBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant"
                      xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="checkout_id" xsi:type="string">Aci\Payment\Gateway\Request\CheckoutIdDataBuilder</item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Get Status through  webhook response - Start -->
    <!-- GetStatus Command for Aci Payment -->
    <virtualType name="AciPaymentGetStatusViaWebhookCommand"
                 type="Aci\Payment\Gateway\Command\GatewayWebhookCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentGetStatusWebhookRequestBuilder
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">AciPaymentWebhookGetStatusTransactionTransferFactory
            </argument>
            <argument name="client"
                      xsi:type="object">AciPaymentCcTransactionClient
            </argument>
        </arguments>
    </virtualType>

    <!-- GetStatus Request for Aci Payment -->
    <virtualType name="AciPaymentGetStatusWebhookRequestBuilder"
                 type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant" xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="checkout_id"
                      xsi:type="string">Aci\Payment\Gateway\Request\CheckoutIdWebhookDataBuilder</item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- GetStatus Transfer Factory for Aci Payment -->
    <virtualType name="AciPaymentWebhookGetStatusTransactionTransferFactory"
                 type="Aci\Payment\Gateway\Http\AciWebhookTransferFactory">
        <arguments>
            <argument name="apiEndPoint"
                      xsi:type="const">Aci\Payment\Helper\Constants::END_POINT_GET_WEBHOOK_PAYMENT_STATUS
            </argument>
            <argument name="method"
                      xsi:type="const">Aci\Payment\Helper\Constants::API_METHOD_GET
            </argument>
        </arguments>
    </virtualType>

    <!-- Register Webhook GetTransaction Service -->
    <type name="Aci\Payment\Model\WebhookEvents">
        <arguments>
            <argument name="commandPool" xsi:type="object">GenericCommandPool</argument>
        </arguments>
    </type>
    <!-- Get Status through  webhook response - End -->

    <!-- CreateSubscription Command for Aci Payment -->
    <virtualType name="AciPaymentCreateSubscriptionCommand"
                 type="Aci\Payment\Gateway\Command\GatewayWebhookCommand">
        <arguments>
            <argument name="requestBuilder"
                      xsi:type="object">AciPaymentCreateSubscriptionRequestBuilder
            </argument>
            <argument name="transferFactory"
                      xsi:type="object">AciPaymentCreateSubscriptionTransactionTransferFactory
            </argument>
            <argument name="client"
                      xsi:type="object">AciPaymentCreateSubscriptionTransactionClient
            </argument>
            <argument name="handler"
                      xsi:type="object">Aci\Payment\Gateway\Response\CreateSubscriptionResponseHandler
            </argument>
        </arguments>
    </virtualType>

    <!-- CreateSubscription Request for Aci Payment -->
    <virtualType name="AciPaymentCreateSubscriptionRequestBuilder"
                 type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="merchant" xsi:type="string">Aci\Payment\Gateway\Request\MerchantDataBuilder
                </item>
                <item name="payment" xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionPaymentDataBuilder</item>
                <item name="schedule"
                      xsi:type="string">Aci\Payment\Gateway\Request\SubscriptionScheduleDataBuilder
                </item>
                <item name="opp_request_info"
                      xsi:type="string">Aci\Payment\Gateway\Request\OppRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment Transaction Client for CreateSubscription -->
    <virtualType name="AciPaymentCreateSubscriptionTransactionClient"
                 type="Aci\Payment\Gateway\Http\Client\PaymentClient">
        <arguments>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciLogger
            </argument>
        </arguments>
    </virtualType>

    <!-- CreateSubscription Transfer Factory for Aci Payment -->
    <virtualType name="AciPaymentCreateSubscriptionTransactionTransferFactory"
                 type="Aci\Payment\Gateway\Http\AciWebhookTransferFactory">
        <arguments>
            <argument name="apiEndPoint"
                      xsi:type="const">Aci\Payment\Helper\Constants::END_POINT_SUBSCRIPTION
            </argument>
            <argument name="method"
                      xsi:type="const">Aci\Payment\Helper\Constants::API_METHOD_POST
            </argument>
        </arguments>
    </virtualType>
    <!-- Generic command - End -->

    <!-- Aci Payment Log Handler -->
    <type name="Aci\Payment\Logger\AciHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Aci\Payment\Logger\AciLogger">
        <arguments>
            <argument name="name" xsi:type="string">AciLogHandler</argument>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Logger\AciHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Payment Log Handler for Aci APM payment -->
    <type name="Aci\Payment\Logger\AciApmLogger">
        <arguments>
            <argument name="name" xsi:type="string">AciPaymentApmLogHandler</argument>
            <argument name="paymentConfig"
                      xsi:type="object">Aci\Payment\Gateway\Config\AciGenericPaymentConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Logger\AciHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Subscription Log Handler -->
    <type name="Aci\Payment\Model\Subscription\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Aci\Payment\Model\Subscription\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">TryzensIgniteSubscriptionLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aci\Payment\Model\Subscription\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- Subscription Log Handler -->

    <!-- Register Custom Command Service - Start -->
    <!-- Register InitTransaction Service for Aci Apm Payment-->
    <type name="Aci\Payment\Model\InitPayment\InitializeApmTransaction">
        <arguments>
            <argument name="commandPool" xsi:type="object">AciPaymentApmCommandPool</argument>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciApmLogger</argument>
        </arguments>
    </type>

    <!-- Register InitTransaction Service for Aci CC Payment-->
    <type name="Aci\Payment\Model\InitPayment\InitializeCcTransaction">
        <arguments>
            <argument name="commandPool" xsi:type="object">AciPaymentCcCommandPool</argument>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciCcLogger</argument>
        </arguments>
    </type>

    <!-- Register GetTransaction Service -->
    <type name="Aci\Payment\Model\Request\GetStatusRequestManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">GenericCommandPool</argument>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciLogger</argument>
        </arguments>
    </type>

    <!-- Register CreateSubscription Service -->
    <type name="Aci\Payment\Model\Request\CreateSubscriptionRequestManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">GenericCommandPool</argument>
        </arguments>
    </type>
    <!-- Register Custom Command Service - End -->

    <type name="Aci\Payment\Model\Http\Client">
        <arguments>
            <argument name="headers" xsi:type="object">Aci\Payment\Model\Http\Headers</argument>
            <argument name="logger"
                      xsi:type="object">Aci\Payment\Logger\AciLogger
            </argument>
        </arguments>
    </type>
</config>
