<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title payment-method-title_aci_cc payment-method-title_aci field choice">
        <div data-bind="visible: hasError" class="message error">
            <span data-bind="text: getErrorMessage()"></span>
        </div>
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
        </input>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <ul>
            <!-- ko foreach: getLogos() -->
            <li>
                <img data-bind="attr: { src: $data }" alt="Logo" />
            </li>
            <!--/ko-->
        </ul>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div data-bind="attr: {id: getWidgetWrapper()}"></div>
    </div>
</div>
